.DS_Store
.merlin
.bsb.lock
npm-debug.log
/lib/bs/
/node_modules/
*.bs.js

/rust/target
**/*.rs.bk
Cargo.lock

# Pycharm
/.idea


wasm-pack.log
locadeserta/android/app/key.jks
locadeserta/.flutter-plugins-dependencies
